pytest>=7.3
pytest-cov>=4.0
pytest-bug>=1.2
pytest-depends>=1.0
pytest-html>=3.2
pytest-mock>=3.11

python-redis-lock>=4
fakeredis>=2.11
fakeredis[lua]>=2.11
boto3>=1.34
moto[s3]>=5.0
urllib3>=1.26
azure-storage-blob>=12.19.1
flufl.lock>=8.1.0
persist-queue>=0.8.1
GTStoWIS2 @ git+https://github.com/wmo-im/GTStoWIS2.git@a29ec7818c9a65a9bbba30bb59d48859e553ebec
pandas>=2.2.2
paho.mqtt>=2.1.0
amqp>=5.2.0