Source: metpx-sarracenia
Section: python
Priority: optional
Maintainer: Shared Services Canada Supercomputing <ssc.hpc-chp.spc@canada.ca>
Build-Depends: debhelper (>= 9), python3, python3-setuptools, python-docutils
Standards-Version: 3.9.5
X-Python3-Version: >= 3.2
Vcs-Git: http://git.code.sf.net/p/metpx/git

Package: python3-metpx-sarracenia
Architecture: all 
Depends: ${misc:Depends}, ${python3:Depends}, python3-pkg-resources
Recommends: python3-paramiko
Suggests: rabbitmq-server
Homepage: http://metpx.sourceforge.net
Description: Meteorological Product Exchanger
 A utility that consumes AMQP message containing
 URL of newly posted products on http://dd.weather.gc.ca and
 downloads them in specified directories. Both products and directories
 are user configurable.
 Developed at the Shared Services Canada
