#!/usr/bin/make -f 
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#clean: 
#	make -C doc clean
# 	dh_clean
override_dh_auto_clean:
	dh_auto_clean

#build:
#	make -C doc all
#	dh_testdir -O--buildsystem=pybuild
#	dh_auto_configure -O--buildsystem=pybuild
#	dh_auto_build -O--buildsystem=pybuild 
#	dh_installinit --name=sr  --no-start
override_dh_auto_build:
	dh_auto_build

override_dh_installinit:
	dh_installinit --name=metpx-sr3  --no-start

%:
	dh $@ --with python3 --buildsystem=pybuild

