# Per user service file.  To run sarracenia for each user.
# this will run as long as a user is logged in.
# systemctl --user enable sarracenia
# will run the package using the user's configuration.
# reference: https://wiki.archlinux.org/index.php/Systemd/User#Basic_setup
# but when they logout, it will be ended.
#
# ways of ensuring persistence (regardless of login status) are a systemd
# configuration issue, see (loginctl enable-linger <user>)
#
# should be installed by a packager in: /usr/lib/systemd/user
# failing that:
# or an admin in /etc/systemd/user
# failing that:
# or by a user int ~/.config/systemd/user
#

[Unit]
Description=Sarracenia V3 File Copy Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/sr3 start
User=%i
Group=users

ExecReload=/usr/bin/sr3 reload
ExecStop=/usr/bin/sr3 stop

[Install]
WantedBy=multi-user.target
