[Unit]
Description=Sarracenia File Copy Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/sr start
User=%i
Group=users

ExecReload=/usr/bin/sr reload
ExecStop=/usr/bin/sr stop

[Install]
WantedBy=multi-user.target
