name: Build docs and publish to gh-pages branch and GitHub Pages
on:
  push:
    branches:
      - v03_wip

jobs:
  gh-pages:
    name: Publish Github Pages
    runs-on: ubuntu-20.04
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Install dependencies
      run: |
        sudo apt-get update -y && sudo apt-get install -y pandoc dia python3-paramiko
    - name: Setup python
      uses: actions/setup-python@v3
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0
    - name: install Sarracenia
      run: |
        pip install -r requirements.txt
        pip install .
    - name: Build and Commit
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: ./docs/source
        requirements_path: ./requirements-dev.txt
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages

