name: Build docs and publish to gh-pages branch and GitHub Pages
on:
  push:
    branches:
      - v03_wip
    paths:
      - 'docs/**'

jobs:
  gh-pages:
    name: Publish Github Pages
    runs-on: ubuntu-latest
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Install dependencies
      run: |
        sudo apt-get update -y && sudo apt-get install -y pandoc
    - name: Setup python
      uses: actions/setup-python@v2
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0
    - name: Install Sarracenia
      run: |
        pip3 install .
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: ./docs/source
        requirements_path: ./requirements-dev.txt
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages

